
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: white;
  color: #333;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 20px;
}

h1, h2, h3 {
  margin: 0 0 10px;
  
}

button {
  transition: all 0.3s ease;
}

button:hover {
  transform: scale(1.05);
  opacity: 0.9;
}