
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
  
}

.container {
  max-width: 100%;
  margin: 0;
  padding: 20px;
  
}

h1, h2, h3 {
  margin: 0 0 10px;
  
}

.product-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
  transition: 0.3s;
}

.product-card img:hover {
  transform: scale(1.05); 
}

.product-card img:active {
  transform: scale(0.95); 
}
button {
  transition: all 0.3s ease;
}

button:hover {
  transform: scale(1.05);
  opacity: 0.9;
}

.img-bounce {
  animation: zoomBounce 0.3s ease-in-out;
}

@keyframes zoomBounce {
  0% { transform: scale(1); }
  50% { transform: scale(1.15); }
  100% { transform: scale(1); }
}